@font-face{
    font-family: "title";
    src:url('../../fonts/Shrikhand-Regular.ttf');
}
@font-face{
    font-family: "light";
    src:url('../../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: "regular";
    src:url('../../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: "medium";
    src:url('../../fonts/Roboto-Medium.ttf');
}