.__logo {
    @include flex-mix(center, center);
    @include shadow;
    position: relative;
    z-index: 10;
    height: 40px;

    @media (min-width:$breakpoint-mobile-xl) {
        padding-right: 2em;
        height: 50px;
    }

    @media (min-width:$breakpoint-tablet) {
        height: 60px;
    }

    @media (min-width:$breakpoint-desktop) {
        @include flex-mix(space-between, center);
    }

    & .__return {
        @include taille(20px, 20px);
        transform: scaleX(-1);
        position: absolute;
        z-index: 2;
        left: 15px;
        top: 10px;
        @include btn-return($breakpoint-mobile-xl,25px,25px,15px,14px);
        @include btn-return($breakpoint-tablet,30px, 30px,15px,15px);
    }
    & .navoff{
        @include flex-mix(center, center);
        position: absolute;
        @media(min-width:$breakpoint-desktop) {
            @include flex-mix(space-between, center);
            width:100%;
        }
        & img{
            width: 100%;
            @include logo-resp($breakpoint-desktop,80px,15%);
        }
    }

    & img {
        width: 35%;
        @include logo-resp($breakpoint-mobile-xl,0px,30%);
        @include logo-resp($breakpoint-desktop,20px,15%);
    }

    & nav {
        display: none;
        list-style: none;
        font-size: .85em;

        @media(min-width:$breakpoint-desktop) {
            @include flex-mix(center, center);
        }
    }

    & a {
        color: $color-txt-dark;
        text-decoration: none;
        margin-right: 2em;
        @include family('title',1em);
        font-weight: 500;

        &:hover {
            color: $color-primary;
        }
    }
}